
.classpath
.project
.settings/org.eclipse.core.resources.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
target/classes/io/github/leothawne/thedoctorreborn/command/RebornAdminCommand.class
target/classes/io/github/leothawne/thedoctorreborn/command/RebornCommand.class
target/classes/io/github/leothawne/thedoctorreborn/command/tabCompleter/RebornAdminCommandTabCompleter.class
target/classes/io/github/leothawne/thedoctorreborn/command/tabCompleter/RebornCommandTabCompleter.class
target/classes/io/github/leothawne/thedoctorreborn/ConfigurationLoader.class
target/classes/io/github/leothawne/thedoctorreborn/ConsoleLoader.class
target/classes/io/github/leothawne/thedoctorreborn/event/PlayerEvent.class
target/classes/io/github/leothawne/thedoctorreborn/event/RegenerationEvent$1.class
target/classes/io/github/leothawne/thedoctorreborn/event/RegenerationEvent$2.class
target/classes/io/github/leothawne/thedoctorreborn/event/RegenerationEvent.class
target/classes/io/github/leothawne/thedoctorreborn/ResourceLoader.class
target/classes/io/github/leothawne/thedoctorreborn/TheDoctorRebornLoader.class
target/classes/io/github/leothawne/thedoctorreborn/Version.class
target/classes/META-INF/MANIFEST.MF
target/classes/META-INF/maven/io.github.leothawne/thedoctorreborn/pom.properties
target/classes/META-INF/maven/io.github.leothawne/thedoctorreborn/pom.xml
target/classes/tdr.db
target/classes/io/github/leothawne/thedoctorreborn/api/bStats/MetricsAPI$1.class
target/classes/io/github/leothawne/thedoctorreborn/api/bStats/MetricsAPI$2.class
target/classes/io/github/leothawne/thedoctorreborn/api/bStats/MetricsAPI.class
target/classes/io/github/leothawne/thedoctorreborn/api/utility/TabCompleterAPI.class
target/classes/io/github/leothawne/thedoctorreborn/api/utility/WarnIntegrationsAPI.class
target/classes/io/github/leothawne/thedoctorreborn/MetricsLoader.class
/target/
spigot-1.20.4-R0.1-SNAPSHOT-remapped.jar
